
h1{
color: rgb(215, 214, 214);
}

section{
margin-left: 4vw;
margin-right: 3vw;

}

p {
    color: rgb(155, 192, 255);
}
.green{

margin: .5em 0em;
font-size: 2.3rem;
color: #a9ffba;
}
.red{

margin: .5em 0em;
font-size: 2.3rem;
color: #ff9797;
}

.one{width: fit-content;}