<!-- 1 -->

<section>
    <article>
        <h1>Сколько прошло дней от выбранной даты?</h1>
        <div id="id-1" class="one">
            <p style="padding-bottom: 7px;">Введите дату своего рождения или выберите её…</p>
            <form>
                <input (change)="calkEdge(ff.value)" type="date" #ff>
                <!-- <button  (click)="calkEdge(ff.value)" class="button" type="button">пуск</button> -->
            </form>
            <p *ngIf='ff.value' id="result" class="{{classColor}}"> {{otvet}} <span *ngIf="resultAge" class="day">{{resultAge}}</span>
            </p>
            <details>
            <summary>
            Количество дней некоторых резидентов планеты Земля.
            </summary>
            <ul class="residents">
            <li *ngFor="let item of residents" class="residents-1">{{item.fnm}} {{item.lnm}}  <span  class="colordays">{{item.day}}</span></li>
            </ul>
            </details>
        </div>
    </article>
    
</section>