
<div class="space">
        <div class="stars2"></div>
        <div class="stars3"></div>
        <div class="stars4"></div>
        <div class="stars5"></div>
        <div class="stars1"></div>
        <div class="stars6"></div>
        <div class="stars7"></div>
        <div class="stars8"></div>
        <div class="stars9"></div>
        <div class="stars10"></div>
</div>
        <header>

        </header>
<!-- <nav></nav>
<aside></aside> -->
<main id="main">




<app-edge></app-edge>



</main>


<footer></footer>
<router-outlet></router-outlet>


