.space {
    width: 100%;
    height: 100%;


    position: fixed;
    z-index: -1;
}

/*Делаем 10 звёздочек, часть из которых будет
мигать, а часть падать*/
.stars1{
        position: relative;
        border-radius: 50% 50%;
        background-image: linear-gradient(to right top, #000000, #000000, #000000, #000000, #000000, #050505, #0a0a0a, #0f0f0f, #171717, #1d1d1d, #232323, #2a2a2a);
    }
.stars2,
.stars3,
.stars4,
.stars5,
.stars6,
.stars7,
.stars8,
.stars9,
.stars10 {
    position: relative;
    border-radius: 50%/50%;
    background-color: #fff;
    width: 3px;
    /*размер звёздочек, можно увеличить*/
    height: 3px;
}

/*Позиционируем все звёздочки на разном расстоянии
от краёв блока и задаём им анимацию меняющую их положение
или прозрачность*/
.stars1 {
    top: 0%;
    left: 0%;
    animation: stars1 60s 1s cubic-bezier(0.42, 0, 0.54, 0.04) infinite;
}

.stars2 {
    top: -3%;
    left: 0%;
    animation: stars2 12s 2s linear infinite;
}

.stars3 {
    top: 0%;
    left: 110%;
    animation: stars3 14s 5s linear alternate infinite;
}

.stars4 {
    top: -12%;
    left: 35%;
    animation: stars4 19s 7s ease-in-out infinite;
}

.stars5 {
    top: -2%;
    left: 7%;
    animation: stars5 17s 2s linear;
}

.stars6 {
    top: 11%;
    left: 120%;
    animation: stars6 7s ease-in-out alternate infinite;
}

.stars7 {
    top: 20%;
    left: 100%;
    animation: stars7 12s 1s ease-in-out infinite;
}

.stars8 {
    top: 12%;
    left: 80%;
    animation: stars8 7s ease-in-out infinite;
}

.stars9 {
    top: 30%;
    left: 90%;
    animation: stars9 13s 2s ease-in-out infinite;
}

.stars10 {
    top: -7%;
    left: 98%;
    animation: stars10 16s 3.2s ease-in-out infinite;
}

/*Четыре звёздочки делаем мигающими, задав им переход
от полной прозрачности к полной непрозрачности*/
@keyframes stars2 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes stars5 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(100px, 1000px);
    }
}

@keyframes stars7 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes stars9 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*Остальные делаем падающими задав им перемещение
и изменение размера*/

@keyframes stars1 {
    0% {
        width: 10px;
        height: 10px;
        opacity: 1;
        /*Размер звёздочки в начале падения*/
    }


    100% {

        transform: scale(333) translate(700px, 700px);
    }
}

@keyframes stars3 {
    0% {
        width: 3px;
    }

    12% {
        width: 10px;
        opacity: 1;
        transform: translate(-700px, 1000px);
    }

    13% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes stars4 {
    0% {
        width: 3px;
    }

    10% {
        width: 10px;
        opacity: 1;
        transform: translate(200px, 300px);
    }

    11% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes stars6 {
    0% {
        width: 3px;
    }

    10% {
        width: 10px;
        opacity: 1;
        transform: translate(-400px, 300px);
    }

    11% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes stars8 {
    0% {
        width: 3px;
    }

    10% {
        width: 10px;
        opacity: 1;
        transform: translate(-300px, 900px);
    }

    11% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes stars10 {
    0% {
        width: 3px;
    }

    10% {
        width: 10px;
        opacity: 1;
        transform: translate(-200px, 1800px);
    }

    11% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}